<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'dashboard' %}" class="brand-link">{{ school_name | default:"MySchool" }}</a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Library Management</li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Book Transaction
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'book_issue_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-cart-plus"></i>
                                <p>Issue</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'book_return_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-long-arrow-alt-left"></i>
                                <p>Return</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'book_renew_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-history"></i>
                                <p>Renew</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'member_list' %}" class="nav-link">
                        <i class="nav-icon fa fa-users"></i>
                        <p>
                            Members
                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="{% url 'book_list' %}" class="nav-link">
                        <i class="nav-icon fa fa-archive"></i>
                        <p>
                            Books
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>