{% extends 'base.html' %} {% block title %}Dashboard{% endblock title %} {% block content %}
<!-- Widgets  -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <div class="stat-content">
                    <div class="stat-icon dib flat-color-1">
                        <i class="fa fa-book-medical"></i>
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{ total_book }} Books</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'book_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <div class="stat-content">
                    <div class="stat-icon dib flat-color-1">
                        <i class="fa fa-reply"></i>
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{ product }} Return</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'book_return_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <div class="stat-content">
                    <div class="stat-icon dib flat-color-1">
                        <i class="fa fa-paper"></i>
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{ total_book_issue }} Book Issue</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'book_issue_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <div class="stat-content">
                    <div class="stat-icon dib flat-color-1">
                        <i class="fa fa-users"></i>
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{ total_member }} Members</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'member_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
<!-- /Widgets -->

<div class="clearfix"></div>

<!-- Orders -->
<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Book List </h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead class="thead-light">
                                <tr>
                                    <th class="serial">#</th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Book Type</th>
                                    <th>Status</th>
                                    <th>Created At</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if book_list %}
                                <tr class='clickable-row' data-href="#">
                                    {% for booklist in book_list %}
                                    <td class="serial">{{ forloop.counter }}</td>
                                    <td>{{ booklist.title }}</td>
                                    <td>{{ booklist.author }}</td>
                                    <td>{{ booklist.genre }}</td>
                                    <td>total: {{ booklist.total_copies}} copies <br> available: {{ booklist.available_copies}} copies</td>
                                    <td>{{ booklist.created_at }}</td>
                                    <td>
                                        <a href="{% url 'view_book' booklist.isbn %}" class="btn btn-xs btn-success"><i class="fas fa-info"></i></a>
                                        <a href="{% url 'edit_book' booklist.isbn %}" class="btn btn-xs btn-warning"><i class="fas fa-edit"></i></a>
                                        <a href="{% url 'del_book' booklist.isbn %}" class="btn btn-xs btn-danger"><i class="fas fa-xs fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                {% endfor %} {% else %}
                                <tr>
                                    <td>No Order Data</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-stats -->
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->


    </div>
</div>
<!-- /.orders -->
{% endblock content %}