{% extends 'base.html' %} {% block title %}Issue Book{% endblock title %} {% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'book_issue' %}"><i
    class="fas fa-plus"></i> Issue Book</a> {% endblock breadcrumb %} {% block content %}
<div class="table-responsive">
    <table id="librarytable" class="table table-bordered table-striped" data-page-length='100'>
        <thead class="thead-light">
            <tr>
                <th></th>
                <th class="serial">ID</th>
                <th>Title</th>
                <th>Member</th>
                <th>Quantity</th>
                <th>Issued Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% if book_issue %} {% for book_issue in book_issue %}
            <tr>
                <td></td>
                <td class="serial">{{ forloop.counter }}</td>
                <td>{{ book_issue.issue_book_name }}</td>
                <td>{{ book_issue.member_name }}</td>
                <td>{{ book_issue.quantity }}</td>
                <td>{{ book_issue.issue_date}}</td>
                <td>
                    <a href="{% url 'book_issue_detail' book_issue.id %}" class="btn btn-xs btn-success"><i class="fas fa-info"></i></a>
                    <a href="{% url 'book_issue_edit' book_issue.id %}" class="btn btn-xs btn-warning"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'del_book_issue' book_issue.id %}" class="btn btn-xs btn-danger"><i class="fas fa-xs fa-trash-alt"></i></a>
                </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
                <td>No Book issued</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %} {% block morejs %}
<script>
    $('#librarytable').DataTable({
        dom: 'lBfrtip', //if i use buttons then entries goes away
        pagingType: "full_numbers",

        buttons: [{
                'extend': 'copy',
                'text': '<i class="fas fa-copy" aria-hidden="true"></i> Copy',

                'className': 'btn-datatables', //button css does not work



            }, {
                extend: 'excel',
                text: '<i class="fas fa-file-excel" aria-hidden="true"></i> Excel',
                'className': 'btn-datatables',


            }, {
                extend: 'csv',
                text: '<i class="fas fa-file-csv" aria-hidden="true"></i> CSV',
                'className': 'btn-datatables',


            }, {
                extend: 'pdf',
                text: '<i class="fas fa-file-pdf" aria-hidden="true"></i> PDF',
                'className': 'btn-datatables',


            },

        ],

        //for checkbox
        columnDefs: [{
                orderable: false,

                className: 'select-checkbox',
                targets: 0,

            },

        ],

        select: {
            style: 'multi',
            // selector: 'td:first-child'

        },
        order: [
            [1, 'asc']
        ],
    });
</script>

{% endblock morejs %}