{% extends 'base.html' %} {% block title %}Product List{% endblock title %} {% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Issue</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %} {% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Book Issued List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">ID</th>
                                <th>Title</th>
                                <th>ISBN</th>
                                <th>Member</th>
                                <th>Member ID</th>
                                <th>Issued Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if book_issue %} {% for book_issue in book_issue %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ book_issue.issue_book_name }}</td>
                                <td>{{ book_issue.isbn }}</td>
                                <td>{{ book_issue.member_name }}</td>
                                <td>{{ book_issue.user}}</td>
                                <td>{{ book_issue.issue_date}}</td>
                                <td>
                                    <a href="{% url 'book_issue_edit' book_issue.id %}" class="btn btn-xs btn-success"><i class="fas fa-user-edit"></i></a>
                                    <a href="" class="btn btn-xs btn-danger"><i class="fas fa-xs fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            {% endfor %} {% else %}
                            <tr>
                                <td>No Product Data</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-stats -->
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-lg-8 -->


</div>
{% endblock content %}