{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="card-header">
  <div class="card-tools">
    <a href="#" class="btn btn-tool">Print</a>
    <a href="" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
    <h4> Product Description</h4>

    {% if object %}

<h1>{{issue.member.full_name}}</h1>
<h2>{{issue.member.email}}</h2>


<div class='card'>
					<div class='table-responsive'>
					<table class='table' id='myTable'>
						<thead>
							<tr>
								<th>Book</th>
								<th>Quantity</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>

					{% for saleitem in issue.bookissue_set.all %}
							<tr>
								<td>{{ saleitem.title }}</td>
                                <td>{{saleitem.quantity}}</td>
                                <td>{{saleitem.total_price}}</td>

							</tr>
						{% endfor %}
                        <tr>
								<td class="btn btn-primary" style="width:40%">Total</td>
                                <td style="font-size:20px">{{issue.total_qty}}</td>
<!--                                <td style="font-size:20px">{{issue.total_order}}</td>-->

							</tr>

						</tbody>

					</table>
					</div>


				</div>
    {% else %}
        <p>There are no description for {{object}}</p>
    {% endif %}


{% endblock content %}
